

.content__section {
  background: $main-background;
  min-height: 1352px;

}

.content__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 440px 0;
  max-width: 50%;
  float: right; // не знаю,як по іншому
}

.content__subtitle {
  margin-bottom: 24px;
}

.content__title {
  margin-bottom: 24px;
}

.content__text {
  font-size: 1.5rem;
  line-height: 143%;
  color: $white-color;
  margin-bottom: 40px;
}

.content__btn {
  line-height: 152%;
  padding: 30px 50px;
}
