body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: #ffffff;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
}

.subtitle {
    display: inline-block;
    color: #2E363E;
    font-size: 0.6875rem;
    line-height: 16.5px;
    padding: 10px 18px;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;

}

.btn {
    font-size: 18px;
    font-weight: 500;
    color: #2E363E;
    background-color: #FED84C;
    border-radius: 8px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
}
