@import "../null-style";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
}

//Global primary elements
.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
}

.subtitle {
  color: #2E363E;
  font-size: 11px;
  line-height: 16.5px;
  padding: 10px 18px;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn {
  font-size: 18px;
  font-weight: 500;
  color: #2E363E;
  background-color: #FED84C;
  border-radius: 8px;
}

//---------------------------------------------------------------------

.wrapper {

}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}

.info__section {
  background: url('/src/img/background/bg-info.png') no-repeat;
  background-size: cover;
  min-height: 1234px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__title {
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  margin: 40px 0;
}

.address__row {
  display: flex;
  align-items: center;
}

.header__address {
  color: #ffffff;
  font-size: 12px;
  margin: 40px 70px 40px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url("/src/img/icons/location.png") 0-0 no-repeat;
  li {
    margin: 0 0 0 25px;
  }
}

.header__contact {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  font-size: 13px;
  text-align: center;
  background: url("/src/img/icons/phone.png") 0-0 no-repeat;
  li {
    margin: 0 0 0 25px;
    &:first-child {
      font-size: 20px;
      font-weight: 700;
      line-height: 152%;
    }
  }
}

.main__row {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 220px 0 0 0;
}

.main__subtitle {
  margin: 0 0 24px 0;
}

.main__title {
  margin: 0 0 24px 0;
}

.main__text {
  font-size: 24px;
  line-height: 143%;
  color: #ffffff;
  margin: 0 0 40px 0;
}

.button__row {
  display: flex;
  max-width: 510px;
  flex-wrap: wrap;
}

.main__btn {
  line-height: 152%;
  padding: 30px 50px;
}

.btn__text {
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  margin: 20px 0 20px 20px;
  display: flex;
  flex-direction: column;
}









.price__title {
  color: #2E363E;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  margin: 0 0 80px 0;
}

.columns__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.columns__column {
  display: flex;
  max-width: 30%;
  min-width: 300px;
  padding: 0 10px;
  margin: 70px 0 0 0;
}

.column__item {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.column__image {
  img {
    width: 100%;
    height: auto;
  }
}

.column__info {
  margin: 50px 45px;
  justify-content: start;
}

.column__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 143%;
  margin: 0 0 12px 0;
}

.column__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}

.column__text {
  font-size: 16px;
  line-height: 24px;
  color: #2E363E;
  margin: 0 0 24px 0;
  flex: 1 1 auto;
}

.column__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #434B53;
  margin: 0 0 17px 0;
}

.column__btn {
  padding: 20px 40px;

}


//Content section

.content__section {
  background: url("/src/img/background/content-bg.png") 0-0 no-repeat;
  min-height: 1352px;
  background-size: cover;
}

.content__container {
  display: flex;
  float: right;
}

.content__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  padding: 440px 0;
  width: 33.33%;
}

.content__subtitle {
  margin: 0 0 24px 0;
}

.content__title {
  margin: 0 0 24px 0;
}

.content__text {
  font-size: 24px;
  line-height: 143%;
  color: #ffffff;
  margin: 0 0 40px 0;
}

.content__btn {
  line-height: 152%;
  padding: 30px 50px;
}



.woman__section {
  background-color: #ffffff;
  min-height: 830px;
}

.woman__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.woman__content {
  width: 50%;
}

.woman__image {
  width: 50%;
}

.woman__subtitle {
  letter-spacing: 0.1em;
  border-radius: unset;
  background-color: #F2F6FA;
}

.woman__title {
  color: #2E363E;
  letter-spacing: -1px;

}

.woman__image img{
  height: 100%;
  width: auto;
}
