@import 'variables';

.info__section {
  background: $main-background;
  min-height: 1234px;
}

.info-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.info-header__title {
  color: $white-color;
  font-size: 1.3125rem;
  font-weight: 500;
  margin: 40px 0;
}

.info-header-address__row {
  display: flex;
  align-items: center;
}

.info-header__address {
  color: $white-color;
  font-size: 0.75rem;

  margin: 40px 70px 40px 0;

  display: flex;
  flex-direction: column;
  text-align: center;

  background: url("/src/img/icons/location.png") 0-0 no-repeat;
  .info-header-address__item {
    display: block;

    margin-left: 25px;
  }
}

.info-header__contact {
  color: $white-color;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  font-size: 0.8125rem;
  text-align: center;
  background: url("/src/img/icons/phone.png") 0-0 no-repeat;
  .info-header-contact__item {
    margin-left: 25px;
    &:first-child {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 152%;
    }
  }
}

.info-main__row {
  display: flex;
  flex-direction: column;

  max-width: 650px;

  margin-top: 220px;
}

.info-main__subtitle {
  margin-bottom: 24px;
}

.info-main__title {
  margin-bottom: 24px;
}

.info-main__text {
  display: inline-block;

  font-size: 1.5rem;
  line-height: 143%;
  color: $white-color;

  margin-bottom: 40px;
}

.info-button__row {
  display: flex;
  max-width: 510px;
  flex-wrap: wrap;
}

.info-main__btn {
  line-height: 152%;
  padding: 30px 50px;
}

.info-btn__text {
  font-size: 15px;
  line-height: 24px;
  color: $white-color;
  margin: 20px 0 20px 20px;
  display: flex;
  flex-direction: column;
}
