.price__title {
  color: #2E363E;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  margin: 0 0 80px 0;
}

.columns__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.columns__column {
  display: flex;
  max-width: 30%;
  min-width: 300px;
  padding: 0 10px;
  margin: 70px 0 0 0;
}

.column__item {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.column__image {
  img {
    width: 100%;
    height: auto;
  }
}

.column__info {
  margin: 50px 45px;
  justify-content: start;
}

.column__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 143%;
  margin: 0 0 12px 0;
}

.column__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}

.column__text {
  font-size: 16px;
  line-height: 24px;
  color: #2E363E;
  margin: 0 0 24px 0;
  flex: 1 1 auto;
}

.column__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #434B53;
  margin: 0 0 17px 0;
}

.column__btn {
  padding: 20px 40px;

}
