@import 'variables';

.price__title {
  color: $main-text-color;
  font-weight: 500;
  font-size: 3rem;
  line-height: 60px;

  text-align: center;

  margin-bottom: 80px;
}

.price-columns__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.price-columns__column {
  display: flex;
  max-width: 30%;
  min-width: 300px;
  padding: 0 10px;
  margin-top: 70px;
}

.price-column__item {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.price-column__image {

  width: 100%;
  height: auto;

}

.price-column__info {
  margin: 50px 45px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;

  max-width: 100%;
}

.price-column__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 143%;
  margin-bottom: 12px;
}


.price-column__text {
  display: inline-block;

  font-size: 1rem;
  line-height: 24px;
  color: $main-text-color;

  margin-bottom: 24px;
  flex: 1 1 auto;
}

.price-column__price {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 150%;
  color: #434B53; // одноразово

  margin-bottom: 17px;
}

.price-column__btn {
  padding: 20px 40px;
}
