.reviews__section {
  background: url("/dist/img/background/reviews-bg.png") 0-0 no-repeat;
  background-size: cover;
  min-height: 1505px;
}

.reviews__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews__title {
  color: #ffffff;
  text-align: center;
  margin: 306px 0 80px 0;
}

.reviews__content{
  background-color: #ffffff;
  box-shadow: 2px 8px 16px rgba(194, 198, 208, 0.06);
  border: 2px solid #E2EAF2;
  border-radius: 5px;
  flex-grow: 1;
  display: flex;

}

.user-card {
  display: flex;
}

.user-card-review {
  width: 50%;
}

.user-card-info {
  width: 50%;
}

.user-card-review__title {
  color: #2E363E;
  font-weight: 500;
  font-size: 30px;
  line-height: 143%;

  display: flex;
  flex-direction: column;

  margin: 0 0 24px 0;

  &:before {
    content: "❝";
    color: #5D6AFB;
    margin: 0 0 24px 0;
  }
}

.user-card-review__text {
  color: #2E363E;
  font-size: 15px;
  line-height: 170%;
  margin: 30px 0 0 0;
}


