
.woman__section {
  background-color: $white-color;
  min-height: 830px;
}

.woman__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.woman-content {
  width: 50%;
}


.woman-content__subtitle {
  .subtitle {
    background-color: #F2F6FA; // одноразово
  }

}

.woman-content__title {
  color: $main-text-color;
  letter-spacing: -0.0625rem;
  margin: 24px 0 36px 0;

}

.woman-content__list {
  max-width: 438px;
}

.woman-content-list__item {
  display: flex;

  margin-bottom: 24px;

  font-size: 1.2rem;
  line-height: 1.8rem;
  color: $main-text-color;

  &:last-child {
    margin-bottom: 50px;
  }
  &:before {
    content: '●';


    display: inline-block;
    margin-right: 0.8rem;

    font-size: 1.6rem;
    vertical-align: top;
    line-height: 1;
    color: #5D6AFB; //одноразово
  }
}

.woman-content__btn  {
  padding: 30px 50px;
}

.woman-image__container {
  width: 50%;
}

.woman-image__image {
  height: 100%;
  width: auto;
}
