.woman__section {
  background-color: #ffffff;
  min-height: 830px;
}

.woman__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.woman__content {
  width: 50%;
}

.woman__image {
  width: 50%;
}

.woman__subtitle .subtitle {

  letter-spacing: 0.1em;
  border-radius: unset;
  background-color: #F2F6FA;
}

.woman__title {
  color: #2E363E;
  letter-spacing: -1px;
  margin: 24px 0 36px 0;

}

.woman__text {
  max-width: 438px;
}

.woman__text .list__item {
  display: flex;

  margin: 0 0 1.9rem 0;

  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #2E363E;

  &:last-child {
    margin: 0 0 50px 0;
  }
  &:before {
    content: '●';


    display: inline-block;
    margin-right: 0.8rem;

    font-size: 1.6rem;
    vertical-align: top;
    line-height: 1;
    color: #5D6AFB;
  }
}

.woman__btn  {
  padding: 30px 50px;
}

.woman__image img{
  height: 100%;
  width: auto;
}
